body{
    background-image: url("hypnotize.png");
}

#everything{
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 68%;
    margin: 0 auto;
    border: 8px solid cornflowerblue;
    padding: 5px;
    font-family: 'Gothic A1', sans-serif;
}

#right_bar{
    background-color: cornflowerblue;
    color: white;
    width: 45%;
}

#left_bar{
    width: 55%;
    margin-right: 8px;
}

i{
    padding-left: 5px;
    font-size: 22px;
}

li{
    list-style:square;
}

b{
    font-size: 17px;
}

p,li{
    font-size: 15px;
}

#name{
    color: white;
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
}

.line{
    border-width: 1.5px;
    border-color: cornflowerblue;
    background-color:cornflowerblue;
}
.text{
    text-align: center;
}
#photo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

img{
    border: 7px solid white;
    border-radius: 5px;
    width: 65%;
}

.blue{
    display: flex;
    justify-content: center;
    font-size: 17px;
    background-color: cornflowerblue;
    color: white;
    border: 5px solid cornflowerblue;
    border-radius: 2%;
    margin-top: 8px;
}

